<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
	<meta name="description" content="Bismuth Blockchain Explorer is an open source block explorer providing detailed tracking-free blockchain data.">
  <meta name="keywords" content="Bismuth, Blockchain, Blockchain Explorer, Cryptocurrency, Crypto">
	<link rel = "icon" href = "static/favicon.ico" type = "image/x-icon" />

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="static/custom.css">
	<title>Bismuth Blockchain Explorer</title>
	
	{% block content %}{% endblock %}
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<center><p>&copy; Ian Mac Fhíobhuí and The Bismuth Foundation, 2021</p></center>
	
	<footer class="container py-5">
		<div class="row">
			<div class="col-12 col-md">
	
				<small class="d-block mb-3 text-muted">&copy; Ian Mac Fhíobhuí & The Bismuth Foundation, 2021</small>
			</div>
			<div class="col-6 col-md">
				<h5>Wallets</h5>
				<ul class="list-unstyled text-small">
					<li><a class="text-muted small" href="https://github.com/bismuthfoundation/TornadoWallet/releases/tag/v0.1.38">Tornado Bismuth Wallet</a></li>
					<li><a class="text-muted small" href="https://github.com/bismuthfoundation/tk-wallet/releases">TK Wallet</a></li>
					<li><a class="text-muted small" href="https://mybismuth.com/">myBismuth Wallet (Android)</a></li>
					<li><a class="text-muted small" href="https://github.com/AngainorDev/BIS-Paper">Bismuth Paper Wallet</a></li>
				</ul>
			</div>
			<div class="col-6 col-md">
				<h5>Mining</h5>
				<ul class="list-unstyled text-small">
					<li><a class="text-muted small" href="https://bis-pool.io/">PoW Bis-Pool</a></li>
					<li><a class="text-muted small" href="http://eggpool.net/">PoW Eggpool</a></li>
					<li><a class="text-muted small" href="https://hypernodes.bismuth.live/?page_id=163">PoS Bismuth Hypernode</a></li>
					<li><a class="text-muted small" href="https://github.com/bismuthfoundation/hypernode/tree/beta99">Github Hypernode</a></li>
				</ul>
			</div>
			<div class="col-6 col-md">
				<h5>Exchanges</h5>
				<ul class="list-unstyled text-small">
					<li><a class="text-muted small" href="https://qtrade.io/market/BIS_BTC">Qtrade</a></li>
					<li><a class="text-muted small" href="https://graviex.net/markets/bisbtc">Graviex</a></li>
					<li><a class="text-muted small" href="https://vinex.network/market/BTC_BIS">Vinex</a></li>
					<li><a class="text-muted small" href="https://v2.info.uniswap.org/pair/0xf4f82f8d84c529987201609cecee8ab136a50c8c">Uniswap ETH-wBIS (DEX)</a></li>
					<li><a class="text-muted small" href="https://exchange.pancakeswap.finance/#/swap?inputCurrency=0x56672ecb506301b1e32ed28552797037c54d36a9">PancakeSwap BNB-wBIS (DEX)</a></li>
					<li><a class="text-muted small" href="https://x.vite.net/trade?symbol=BIS-000_BTC-000&category=BTC">Vite (DEX)</a></li>
				</ul>
			</div>
			<div class="col-6 col-md">
				<h5>About</h5>
				<ul class="list-unstyled text-small">
					<li><a class="text-muted small" href="https://bismuthplatform.com/">Official Website</a></li>
					<li><a class="text-muted small" href="https://bismuthplatform.com/whitepaper.pdf">Bismuth Whitepaper</a></li>
					<li><a class="text-muted small" href="https://hypernodes.bismuth.live/?page_id=20">Bismuth Blog</a></li>
					<li><a class="text-muted small" href="https://bismuthplatform.com/discord">Bismuth Discord</a></li>
					<li><a class="text-muted small" href="https://t.me/cryptobismuth">Bismuth Telegram</a></li>
					<li><a class="text-muted small" href="https://bitcointalk.org/index.php?topic=1896497.0">Bitcointalk Thread</a></li>
					<li><a class="text-muted small" href="https://www.reddit.com/r/cryptobismuth/">Reddit Bismuth</a></li>
				</ul>
			</div>
		</div>
	</footer>	
</body>
</html>
