{% extends "base.html" %}

{% block content %}
</head>
{% include 'nav.html' %}
	<div class="container">
		<center><p></p>
		<h3>Bismuth Payment URL Creation Tool</h3>
		<p>Creates a Bismuth payment URL</p>
		<p style="font-size: 80%">For importing into a Bismuth wallet or sending to someone</p></center>
		<form method="post" action="/geturl">
		<table style="font-size: 80%" class="table table-sm">
		<tr><th><label for="address">Receiving address</label></th><td><input type="text" id="address" name="address" size="68" value={{ my_add }}></input></td></tr>
		<tr><th><label for="amount">Amount</label></th><td><input type="text" id="amount" name="amount" size="50" value={{ my_amount }}></input><b> BIS</b></td></tr>
		<tr><th><label for="operation">Operation text (optional)</label></th><td><input type="text" id="operation" name="operation" size="50" value={{ my_op }}></input> 30 Chars. max.</td></tr>
		<tr><th><label for="message">Message text (optional)</label></th><td><textarea name="message" id="message" rows="3" cols="51">{{ my_mess }}</textarea></td></tr>
		<tr><th><label for="Submit Query">Click Submit to create payment URL</label></th><td><button type="submit" class="btn btn-default" id="Submit Query" name="Submit Query">Submit</button></td></tr>
		</table>
		</form>
	</div>
	<div class="container">
{{ starter|safe }}
	</div>
{% endblock %}
