{% extends "base.html" %}

{% block content %}
</head>
{% include 'nav.html' %}
	<div class="container">
		<center><p></p>
		<h3>Bismuth Cryptocurrency</h3>
		<p>Transaction Information</p>
	</div>
	<div class="container-fluid">
		<table class="table table-striped table-sm" style="font-size: 80%;table-layout: fixed; width: 99%;"><tbody>
		<tr>
		<td align="left" style="border:hidden;">
		<b>Block:</b> {{ ablock }}
		</td><td style="border:hidden"></td></tr><tr>
		<td align="left" style="border:hidden;">
		<b>Timestamp:</b> {{ atime }}
		</td><td style="border:hidden"></td></tr><tr>
		<td align="left" style="border:hidden;">
		<b>From:</b> {{ afrom }}
		</td><td style="border:hidden"></td></tr><tr>
		<td align="left" style="border:hidden;">
		<b>To:</b> {{ ato }}
		</td><td style="border:hidden"></td></tr><tr>
		<td align="left" style="border:hidden;">
		<b>Amount:</b> {{ aamount }}
		</td><td style="border:hidden"></td></tr>
		<tr>
		<td align="left" style="border:hidden;overflow-wrap:break-word;">
		<b>Signature:</b> {{ asig }}
		</td><td style="border:hidden;width:6px;"></td></tr>
		<tr>
		<td align="left" style="border:hidden;">
		<b>Transaction ID:</b> {{ atxid }}
		</td><td style="border:hidden;width:6px;"></td></tr>
		<tr>
		<td align="left" style="border:hidden;">
		<b>Block Hash:</b> {{ ahash }}
		</td><td style="border:hidden"></td></tr><tr>
		<td align="left" style="border:hidden;">
		<b>Fee:</b> {{ afee }}
		</td><td style="border:hidden"></td></tr><tr>
		<td align="left" style="border:hidden;">
		<b>Reward:</b> {{ areward }}
		</td><td style="border:hidden"></td></tr><tr>
		<td align="left" style="border:hidden;overflow-wrap:break-word;">
		<b>Operation:</b> {{ aoperation }}
		</td><td style="border:hidden"></td></tr><tr>
		<td align="left" style="border:hidden;">
		<b>Openfield (first 1000 Characters):</b> {{ aopen }}
		</td><td style="border:hidden"></td></tr></tbody></table>
	</div>
{% endblock %}
