{% extends "base.html" %}

{% block content %}
</head>
{% include 'nav.html' %}
	<div class="container">
		<center><p></p>
		<h3>Bismuth Cryptocurrency</h3>
		<p>Transaction Information</p>
	</div>
	<div class="container p-2">
	<div class="container-fluid" style="font-size: 90%">
		    <div class="row my-2">
		        <div class="col-sm-3 border-bottom"><p class="text text-secondary pt-2">Block</p></div>
		        <div class="col-sm-7 border-bottom"><p class="text-break pt-2"> {{ ablock }} </p></div>
		    </div>
		    <div class="row my-2">
		        <div class="col-sm-3 border-bottom"><p class="text text-secondary pt-2">Block Hash</p></div>
		        <div class="col-sm-7 border-bottom"><p class="text-break pt-2"> {{ ahash }} </p></div>
		    </div>
		    <div class="row my-2">
		        <div class="col-sm-3 border-bottom"><p class="text text-secondary pt-2">Transaction ID</p></div>
		        <div class="col-sm-7 border-bottom"><p class="text-break pt-2"> {{ atxid }} </p></div>
		    </div>
		    <div class="row my-2">
		        <div class="col-sm-3 border-bottom"><p class="text text-secondary pt-2">Timestamp</p></div>
		        <div class="col-sm-7 border-bottom"><p class="text-break pt-2"> {{ atime }} </p></div>
		    </div>
		    <div class="row my-2">
		        <div class="col-sm-3 border-bottom"><p class="text text-secondary pt-2">Sender</p></div>
		        <div class="col-sm-7 border-bottom"><p class="text-break pt-2"> {{ afrom }} </p></div>
		    </div>
		    <div class="row my-2">
		        <div class="col-sm-3 border-bottom"><p class="text text-secondary pt-2">Recipient</p></div>
		        <div class="col-sm-7 border-bottom"><p class="text-break pt-2"> {{ ato }} </p></div>
		    </div>
		    <div class="row my-2">
		        <div class="col-sm-3 border-bottom"><p class="text text-secondary pt-2">Amount</p></div>
		        <div class="col-sm-7 border-bottom"><p class="text-break pt-2"> {{ aamount }} </p></div>
		    </div>
		    <div class="row my-2">
		        <div class="col-sm-3 border-bottom"><p class="text text-secondary pt-2">Operation</p></div>
		        <div class="col-sm-7 border-bottom"><p class="text-break pt-2"> {{ aoperation }} </p></div>
		    </div>
		    <div class="row my-2">
		        <div class="col-sm-3 border-bottom"><p class="text text-secondary pt-2">Openfield (first 1000 chars.)</p></div>
		        <div class="col-sm-7 border-bottom"><p class="text-break pt-2"> {{ aopen }} </p></div>
		    </div>
		    <div class="row my-2">
		        <div class="col-sm-3 border-bottom"><p class="text text-secondary pt-2">Fee</p></div>
		        <div class="col-sm-7 border-bottom"><p class="text-break pt-2"> {{ afee }} </p></div>
		    </div>
		    <div class="row my-2">
		        <div class="col-sm-3 border-bottom"><p class="text text-secondary pt-2">Reward</p></div>
		        <div class="col-sm-7 border-bottom"><p class="text-break pt-2"> {{ areward }} </p></div>
		    </div>
	    <div class="row my-2 mb-5">
	        <div class="col-sm-3 border-bottom"><p class="text text-secondary pt-2">Signature</p></div>
	        <div class="col-sm-7 border-bottom"><p class="text-break pt-2"> {{ asig }} </p></div> 
	    </div>
	</div>
	</div>

{% endblock %}