{% extends "base.html" %}

{% block content %}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function(){
		  $('[data-toggle="popover"]').popover();
		});
	</script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function(){
		  $('[data-toggle="tooltip"]').tooltip();
		});
	</script>
	<script type="text/javascript" charset="utf-8">
	function copyToClipboard(text){
		var dummy = document.createElement("input");
		document.body.appendChild(dummy);
		dummy.setAttribute('value', text);
		dummy.select();
		document.execCommand("copy");
		document.body.removeChild(dummy);
	}
	</script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // Use a "/test" namespace.
            // An application can open a connection on multiple namespaces, and
            // Socket.IO will multiplex all those connections on a single
            // physical channel. If you don't care about multiple channels, you
            // can set the namespace to an empty string.
            namespace = '/test';

            // Connect to the Socket.IO server.
            // The connection URL has the following format:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                socket.emit('my_connect', {data: 'Connected'});
            });
			
			// Event handler for connection status.
            socket.on('my_con_status', function(msg) {
                $('#ct_status').text(msg.data);
            });

            // Event handler for sent block data.
            socket.on('my_latest', function(msg) {
				//if (msg.conf === '1'){
					//document.getElementById('blheight').style.color = 'green';
				//}else{
					//document.getElementById('blheight').style.color = 'red';
				//}
                $('#blheight').text(msg.height);
				$('#blminer').text(msg.miner);
				$('#bldiff').text(msg.diff);
				$('#bltime').text(msg.bltime);
				$('#toast_mess').text('A new block has been found');
				$('.toast').toast({animation: true, delay: 5000});
				$('.toast').toast('show');
				$('#circbis').html(msg.bcirc + '<b> BIS</b>');
				$('#totalbis').html(msg.btotal + '<b> BIS</b>');
				//$('#circ').text(msg.bcirc);
            });
			
            // Event handler for sent status data.
            socket.on('my_status', function(msg) {
 				$('#st1').text(msg.protocolversion);
				$('#st2').text(msg.walletversion);
				$('#st3').text(msg.connections);
				$('#st4').text(msg.uptime);
				$('#st5').text(msg.consensus_percent);
				$('#st6').text(msg.consensus);
            });

            // Event handler for sent information data.
            socket.on('my_info', function(msg) {
 				$('#curr_price').text(msg.btc);
 				$('#usd_price').text(msg.usd);
				$('#fiat_price').text(msg.fiat);
				$('#sys_mess').text(msg.mess);
            });
			
            // Event handler for sent mempool count.
            socket.on('my_mem', function(msg) {
				$('#st7').text(msg.mem);
            });
			
            // Event handler for wallet server count.
            socket.on('my_w_servers', function(msg) {
				$('#pop_servers').popover({html: true,placement: 'right',trigger: 'hover',title: 'Active Servers',content: msg.list});
				$('#a_wallet_s').text(msg.active);
            });
		
            // Event handler for latest 50 transactions
			socket.on('my_transactions', function(msg) {
				document.getElementById('txlatest').innerHTML = msg.data;
                //$('#txlatest').html(msg.data);
            });
            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Log"
            // section of the page.
            socket.on('my_response', function(msg) {
                $('#log').html('<b>Message #' + msg.count + ': ' + msg.data + '</b>');
            });
        });
    </script>
</head>
{% include 'nav.html' %}
	<p><center></center></p>
    <div class="container-fluid">
      <div class="card-deck mb-3 text-left">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Node status: <span id="ct_status">Not Connected</span></h4>
          </div>
          <div style="font-size: 80%"  class="card-body">
            <ul class="list-unstyled mt-0 mb-0">
              <li><b>Node Protocol: </b><span id="st1">Please wait for updates...</span></li>
              <li><b>Software version: </b><span id="st2">updating...</span></li>
              <li><b>Connections: </b><span id="st3">updating...</span></li>
              <li><b>Uptime: </b><span id="st4">updating...</span></li>
              <li><b>Consensus is at: </b><span id="st5">updating...</span> %</li>
              <li><b>Consensus Block: </b><span id="st6">updating...</span></li>
              <li><b>Mempool Txs: </b><a class="link" href="/realmem"><span id="st7">updating...</span></a></li>
            </ul>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Information</h4>
          </div>
          <div style="font-size: 80%" class="card-body">
              <ul class="list-unstyled mt-0 mb-0">
			  <li><b>Circulating: </b><span id="circbis">Please wait for next block...</span></li>
			  <li><b>Total Supply: </b><span id="totalbis">updating...</span></li>
              <li><b>Price (BTC): </b><span id="curr_price">updating...</span></li>
              <li><b>Price (USD): </b><span id="usd_price">updating...</span></li>
              <li><b>Price (EUR): </b><span id="fiat_price">updating...</span></li>
			  <li><b>Active Wallet Servers: </b><a id="pop_servers" class="link" href="/wservers"><span id="a_wallet_s">updating...</span></a></li>
			  <li style="color: #ff0000;"><b><span id="sys_mess"></span></b></li>
            </ul>
          </div>
		  <div style="font-size: 80%" class="card-footer text-muted">Prices courtesy of <a class="link" href="https://www.coingecko.com/en/coins/bismuth">CoinGecko</a></div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Latest Block: <span id="blheight">looking for block...</span></h4>
          </div>
          <div style="font-size: 80%" class="card-body">
            <ul class="list-unstyled mt-0 mb-0">
              <li><b>Miner: <span id="blminer">Please wait for next block...</span></b></li>
 			  <li><b>Difficulty: </b><span id="bldiff">updating...</span></li>
			  <li><b>Time found: </b><span id="bltime">updating...</span></li>
            </ul>
			  <div class="toast mt-2">
				<div class="toast-header">
				  <b>Node Information</b>
				</div>
				<div class="toast-body">
				  <span id="toast_mess"></span>
				</div>
			  </div>
			<!--<button type="button" class="btn btn-lg btn-block btn-primary">Details</button>-->
          </div>
        </div>
       </div>
	 </div> 
	<div class="container-fluid mt-0">
	<h4><center>Latest Transactions</center></h4>
	<table style="font-size: 70%" class="table table-striped table-sm">
		<thead>
			<tr>
				<th scope="col">Block</th>
				<th scope="col">Timestamp (UTC)</th>
				<th scope="col">From</th>
				<th scope="col">To</th>
				<th scope="col">Amount</th>
				<th scope="col">TX ID</th>
				<th scope="col">Fee</th>
				<th scope="col">Reward</th>
			</tr>
		</thead>
		<tbody id="txlatest"></tbody>
	</table>
	</div>
{% endblock %}
