{% extends "base.html" %}

{% block content %}
</head>
{% include 'nav.html' %}
	<div class="container">
                <center><p></p>
                <h3>Bismuth Ledger Query Tool</h3>
                <p>Get a List of Transactions</p>
                <p style="font-size: 80%">Note: all queries are case sensitive</p></center>
								<form class="form" method="post" action="/ledgerquery">
									<div class="form-group row">
										<label class="control-label col-sm-2 col-form-label col-form-label-sm" for="block">Address, block, txid, hash</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="block" placeholder="Enter a Block number, txid, hash, address or a: followed by alias" name="block" value="{{ valtext|safe }}">
										</div>
									</div>
									<div class="form-group row">
										<label class="control-label col-sm-2 col-form-label col-form-label-sm" for="extra">From address (optional)</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="extra" placeholder="Speed up older txid queries with a from Address (optional)" name="extra">
										</div>
									</div>
									<div class="form-group row">
										<label class="control-label col-sm-2 col-form-label col-form-label-sm" for="sdate">Start Date (optional)</label>
										<div class="col-sm-10">
											<input type="date" class="form-control" id="sdate" name="sdate"> 00:00:00 hrs
										</div>
									</div>
									<div class="form-group row">
										<label class="control-label col-sm-2 col-form-label col-form-label-sm" for="fdate">End Date (optional)</label>
										<div class="col-sm-10">
											<input type="date" class="form-control" id="fdate" name="fdate"> 23:59:59 hrs
										</div>
									</div>
									<div class="form-group row">
									<label class="control-label col-sm-2 col-form-label col-form-label-sm" for="Submit Query">List Transactions</label>
										<div class="col-sm-10">
											<button type="submit" type="submit" id="Submit Query" name="Submit Query" class="btn btn-dark btn">Submit Query</button>
										</div>
									</div>
								</form>
        </div>
	<div class="container" style="font-size: 80%;text-align:center">
{{ extext|safe }}
	</div>
	<div class="table-responsive">
{{ starter|safe }}
	</div>
{% endblock %}
