<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	<div class="container">
	<a class="navbar-brand" href="/">
	<img src="static/final.png" width="40" height="40" alt="Logo"> Bismuth Explorer
	</a>
	<!-- 	<a class="navbar-brand" href="/">Bismuth Explorer</a> -->
	<!-- Search form -->
	<form class="form-inline" action="/search">
		<input class="form-control mr-sm-2" id="quicksearch" type="text" name="quicksearch" placeholder="block, address or txid" aria-label="Search">
		<button class="btn-outline-dark btn-sm" type="submit">Search</button>
	</form>
	<ul class="navbar-nav">
	<li class="nav-item">
	  <a class="nav-link text-light" href="/">Home</a>
	</li>
	<li class="nav-item">
	  <a class="nav-link text-light" href="/ledgerquery">Ledger Query</a>
	</li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-light" href="#" id="navbardrop" data-toggle="dropdown">
        Info
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/minerquery">Miner Stats</a>
        <a class="dropdown-item" href="/richest">Richlist</a>
		<a class="dropdown-item" href="/wservers">Active Wallet Servers</a>
		<a class="dropdown-item" href="/apihelp">API</a>
       </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-light" href="#" id="navbardrop" data-toggle="dropdown">
        Charts
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/diff_chart">Difficulty</a>
        <a class="dropdown-item" href="/time_chart">Blocktime</a>
       </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-light" href="#" id="navbardrop" data-toggle="dropdown">
        Tools
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/geturl">Create Payment URL</a>
        <a class="dropdown-item" href="/realmem">Realtime Mempool</a>
      </div>
    </li>
	</ul>
	</div>
	</nav>
